$piroRed: #c70000;
$piroLightRed: #e84343;

$startGreen: #378c59;
$lightGreen: #dbeae1;

$backgroundGrey: #dddddd;
$inactiveGrey: #ebeaea;
$staticGrey: #999999;
$placeholderGrey: #a3a3a3;
$darkGrey: #555457;

$white: #ffffff;
$black: #000000;

$gold: #FFEB00;