@mixin inputField() {
  width: 15em;
  height: 2.5em;
  background-color: $white;
  border: none;
  color: $black;
  padding-left: 1em;
}

@mixin homeButton() {
  width: 15em;
  height: 2.5em;
  background-color: $white;
  color: $piroRed;
  border: none;
}

@mixin placeholder() {
  color: $placeholderGrey;
  font-weight: 400;
  letter-spacing: .5px;
}

::-webkit-input-placeholder {
  @include placeholder()
}

:-moz-placeholder { /* Firefox 18- */
  @include placeholder()
}

::-moz-placeholder {  /* Firefox 19+ */
  @include placeholder()
}

:-ms-input-placeholder {
  @include placeholder()
}