@import 'material';
@import 'base';
@import 'color';
@import 'fonts';
@import 'components';

html {
  background-color: $inactiveGrey;
}

body {
  max-width: 768px;
  margin: auto;
  align-text: center;
  background-color: $white;
  font-family: $font-piro;
  font-size: 100%;
  font-weight: 400;
  box-shadow: 5px 5px 10px #999999;
}

input {
  @include inputField();
  &:focus  {
    color: $black;
    background-color: $white;
  }
}

button {
  @include homeButton();
}

h1 { @include fontHeadings ($h1-font-size) }

h2 { @include fontHeadings ($h2-font-size) }

h3 { @include fontHeadings ($h3-font-size) }

h4 { @include fontHeadings ($h4-font-size) }

h5 { @include fontHeadings ($h5-font-size) }

h6 { @include fontHeadings ($h6-font-size) }
