#navbar {
  background-color: $piroRed;
  display: flex;
  flex-direction: row;
  height: 4em;
}

#logo-nav-wrapper {
  display: flex;
  align-items: center;
  flex: 1;
}

.nav-links {
  justify-content: flex-end;
  align-items: center;
  flex: 1;
  display: flex;
  flex-direction: row;
  text-decoration: none;
}

.nav-login-register {
  margin-right: 1em;
  color: $white;
}

#logo-nav {
  // width: 30%;
  height: 3em;
}

.drop-down-menu {
  color: $white;
  text-decoration: none;
  margin-right: 1em;
}
