@mixin flexCenterColumn() {
  display: flex;
  flex-direction: column;
  align-content: center;
}

#content-wrapper {
  // height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $piroRed;
  h1{
    color: $black;
  }
  h3, h4 {
    color: $black;
    margin: .5em 0;
  }
  h3.team-one-name, h3.team-two-name {
    font-weight: 800;
  }
  h4 {
    font-weight: 700;
  }
  button {
    color: $white;
  }
  div.comment-history {
    margin-top: 2em;
    width: 100%;
    flex: 0;
  }
}

.console-timer-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 0;
  .button {
    margin: 0;
    width: 5em;
    height: 5em;
    border-radius: 50%;
    background-color: $piroLightRed;
    }
    .pause, .stop {
      align-self: flex-start;
    }
    #start {
      background-color: $startGreen;
      width: 6.5em;
      height: 6.5em;
    }
    #stop {
      background-color: $piroRed;
    }
  }

.console-scores-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  color: $staticGrey;
  margin-top: 1em;
  .button {
    width: 3.8em;
    height: 2.5em;
    border-radius: 5px;
    margin: 0 1em;
    background-color: $startGreen;
  }
  .decrement{
    background-color: $piroRed;
  }
}

.console-teamone, .console-teamtwo {
  display: flex;
  flex-direction: column;
  align-items: center;
  .team-one-name, .team-two-name {
    margin-bottom: .2em;
  }
  .console-score {
    margin: 0 .2em .2em .2em;
    font-size: 4em;
    font-weight: 700;
    width: 100%;
    border: 1px solid $inactiveGrey;
    text-align: center;
  }
}

.add-comment-wrapper, .edit-comment-wrapper {
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
  input {
    width: 100%;
    padding-left: 1em;
    background-color: $inactiveGrey;
    border-style: solid 1px $backgroundGrey;
  }
  & :focus {
    background-color: $white;
  }
  h3 {
    align-self: flex-start;
    margin-top: .5em;
  }
  button {
    align-self: flex-end;
    width: 7em;
    background-color: $startGreen;
    margin: .5em 0 0 0;
    border-radius: 5px;
  }
}

