#console-wrapper {
  // height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: $piroRed;
  align-items: center;
  h3, h4 {
    color: $black;
    margin-bottom: .5em;
  }
}
button {
  color: $white;

}
#navbar-wrapper {
  // flex: 5;
}

#navbar {
  display: flex;
  flex-direction: row;
  background-color: $piroRed;
}

#logo-nav-wrapper {
  flex: 2;
}

#logo-nav {
  width: 100%;
}

.nav-links {
  display: flex;
  flex: 5;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0 .5em;
  a {
    color: white;
    text-decoration: none;
  }
}

.console-timer-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 1em;
  .button {
    width: 5em;
    height: 5em;
    border-radius: 50%;
    background-color: $piroLightRed;
    }
    #start {
      background-color: $staticGrey;
      width: 7em;
      height: 7em;

    }
  }

.console-scores-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  color: $staticGrey;
  .button {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    margin: 0 1em;
    background-color: $piroLightRed;
  }
  .decrement{
    background-color: $startGreen;
  }
}

.console-teamone, .console-teamtwo {
  display: flex;
  flex-direction: column;
  align-items: center;
  .team-one-name, .team-two-name {
    margin-bottom: .2em;
  }
  .console-score {
    margin: .2em auto;
  }

}

#content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-comment-wrapper, .edit-comment-wrapper {
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
    input {
      width: 100%;
      padding: 0;
    }
    h3 {
      align-self: flex-start;
    }
    button {
      align-self: flex-end;
      width: 5em;
      background-color: $startGreen;
      margin-top: .5em;
      border-radius: 5px;

    }
}
