#create-form {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 0 auto;
  width: 75%;
  h2 {
    color: $piroRed;
    text-align: center;
  }
  p {
    margin-top: 0;
  }
}

.create-form-fields {
  display: flex;
  flex-direction: column;
}

.dropdown, .datePicker {
   margin: 1em 0;
}

.rw-list-option {
  margin: 1em 0;
  font-size: 1.15em;
}

input.team-name, input.location {
  margin: 1em 0;
  border: 1px solid #dddddd;
  padding-left: 1em;
  width: 94%;
}

.create-game {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1em;
  button {
    color: $white;
    background-color: $startGreen;
    width: 8em;
    border-radius: 5px;
    text-align: center;
  }
}