#create-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  width: 75%;
  & > * {
    margin: 10px;
  }
  h2 {
    text-align: center;
    color: $piroRed
  }
  input.team-name, input.location {
    border-radius: .25em;
    border: 1px solid #b2b2b2;
  }
}

// .rw-list-option {
//   font-size: 1.3em;
//   margin: 0.75em 0;
// }

// .rw-state-selected {
//   background-color: $placeholderGrey;
//   border: none;
//   padding: .25em .15em;
//   margin: .5em 0;
// }

button.create-button {
  color: $white;
  background-color: $startGreen;
  width: 6em;

}

.round-button {
  display: flex;
  justify-content: center;
}