#not-found {
  display: flex;
  background: url('https://pixabay.com/static/uploads/photo/2016/04/24/13/24/error-1349562_960_720.png') no-repeat center center fixed;
  background-size: contain;
  height: 100vh;
}
