@mixin flexCenterColumn() {
  display: flex;
  flex-direction: column;
  align-content: center;
}

@mixin flexCenterRow() {
  display: flex;
  flex-direction: row;
  align-content: center;
}

@mixin flexCenter() {
  & > * {
    flex: 1;
    text-align: center;
  }
}

@mixin headerMargin {
  & > * {
    margin: 0.5em 0;
  }
}

#page-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#game-wrapper {
  display: flex;
  flex-direction: column;
  background-color: $white;
  width: 90%;
  margin: 1em 0;
  box-shadow: 1px 1px 5px #999999;
}

.game-team-names {
  display: flex;
  border-bottom: solid 2px $backgroundGrey;
    h2 {
      flex: 1;
      text-align: center;
      margin: 0;
      padding: .5em 0;
    }
    .team-one {
      border-right: solid 1px $backgroundGrey;
    }
    .team-two {
      border-left: solid 1px $backgroundGrey;
    }
}

.game-score-wrapper {
  // @include flexCenterRow();
  // @include flexCenter();
  display: flex;
  align-items: center;
  .game-score {
    flex: 6;
    font-size: 4em;
    font-weight: 700;
    margin: 0.5em 0;
    text-align: center;
  }
}

.game-comment-history {
  // @include flexCenterColumn();
  background-color: $backgroundGrey;
  flex: 3;
  overflow: scroll;
  box-shadow: 0px 15px 10px -10px #999999 inset;
  .game-comment {
    text-align: center;
    margin: 0.5em 0 0 0;
    padding-bottom: .5em;
    border-bottom: solid 1px $inactiveGrey;
  }
}

.sport-name, .date-time, .match-location {
  display: flex;
  justify-content: center;
}

.sport-name {
  background-color: $lightGreen;
  text-transform: uppercase;
  margin: 0;
}

.date-time, .match-location {
  margin: 0;
  border-bottom: solid 2px $backgroundGrey;
}

#manage-header {
  background-color: $backgroundGrey;
  display: flex;
  flex-direction: row;
  #manage {
    color: $staticGrey;
  }
}

a.console-link {
  color: $staticGrey;
}
