@mixin flexCenterColumn() {
  display: flex;
  flex-direction: column;
  align-content: center;
}

@mixin flexCenterRow() {
  display: flex;
  flex-direction: row;
  align-content: center;
}

@mixin flexCenter() {
  & > * {
    flex: 1;
    text-align: center;
  }
}

@mixin headerMargin {
  & > * {
    margin: 0.5em 0;
  }
}

#navbar-wrapper {
  // flex: 1;
}

#game-wrapper {
  @include flexCenterColumn();
  background-color: $white;
  height: 100vh;
  width: 100%;
    #game-header {
      @include flexCenterColumn();
      @include flexCenter();
      flex: 2;
      // @include headerMargin();
    }
}

#game-header {
  margin: 0 0 1em 0;
}

.game-team-names {
  display: flex;
  border-bottom: solid 1px $backgroundGrey;
    h2 {
      flex: 1;
      text-align: center;
      margin: .5em 0 0 0;
      padding-bottom: .5em;
    }
}

.game-score-wrapper {
  @include flexCenterRow();
  // @include flexCenter();
  display: flex;
  align-items: center;
  flex: 2;
  .game-score {
    flex: 6;
    font-size: 4em;
    font-weight: 700;
    margin: 0.5em 0;
    text-align: center;
  }
}

.comment-history {
  @include flexCenterColumn();
  background-color: $backgroundGrey;
  flex: 3;
  overflow: scroll;
  box-shadow: 0px 15px 30px -10px #999999 inset;
  .comment {
    text-align: center;
    margin: 0.5em 0 0 0;
    padding-bottom: .5em;
    border-bottom: solid 1px $inactiveGrey;
  }
  .latest {
    background-color: $lightGreen;
    font-size: 1.5em;
    font-style: italic;
    padding: 0.5em 0.5em;
  }
}

.sport-name, .division {
  text-transform: uppercase;
  margin: .5em 0 0 0;
}

.division, .date-time, .match-location {
  margin: .5em 0 0 0;
  padding-bottom: .5em;
  border-bottom: solid 1px $backgroundGrey;
}

#console-link {
  display: flex;
  justify-content: center;
  margin: .5em;
    button {
      color: $white;
      background-color: $startGreen;
      border-radius: 5px;
      width: 11em;
    }
}
