@mixin flexCenterColumn() {
  display: flex;
  flex-direction: column;
  align-content: center;
}

@mixin flexCenterRow() {
  display: flex;
  flex-direction: row;
  align-content: center;
}

@mixin flexCenter() {
  & > * {
    flex: 1;
    text-align: center;
  }
}

@mixin headerMargin {
  & > * {
    margin: 0.5em 0;
  }
}

/* move to navbar */
#navbar {
  display: flex;
  flex-direction: row;
}

#logo-nav-wrapper {
  width: 25%;
}

.nav-links {
  display: flex;
  flex-direction: row;
}
/* end */

#navbar-wrapper {
  flex: 1;
}

#game-wrapper {
  @include flexCenterColumn();
  background-color: $white;
  height: 100vh;
  width: 100%;
    #game-header {
      @include flexCenterColumn();
      @include flexCenter();
      flex: 2;
      @include headerMargin();
    }
}

.game-score-wrapper {
  @include flexCenterRow();
  @include flexCenter();
  flex: 3;
  .game-score {
    font-size: 4em;
    margin: 0.5em 0;
  }
}

.comment-history {
  @include flexCenterColumn();
  background-color: $backgroundGrey;
  flex: 3;
  overflow: scroll;
  .comment {
    text-align: center;
    margin: 0.5em 0;
  }
  .latest {
    background-color: $lightGreen;
    font-size: 1.5em;
    font-style: italic;
    padding: 0.5em 0.5em;
  }
}












