@mixin coverBackground() {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#home-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: url(/images/home-background-image.png) no-repeat center center fixed;
  @include coverBackground();
}

#welcome {
  color: $white;
}

#logo-wrapper {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#home-content {
  display: flex;
  flex-direction: column;
  flex: 5;
    .toggle a {
      align-self: center;
      color: $white;
      font-size: 1em;
      margin: .2em 0em;
    }
}

#about {
  display: flex;
  justify-content: center;
  i {
    font-size: 2em;
  }
  .about-icon {
    background: none;
    color: $white;
  }
}

#input-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 3;
    .button {
      margin: .8em;
      border-radius: 0.4em;
      width: 10em;
      align-self: center;
    }
    #login.button {
      color: $piroRed;
    }
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $white;
    input {
      margin: .2em;
    }
}

#register-form {
  display: flex;
  flex: 2;
  flex-direction: column;
  align-items: center;
      color: $white;
    input {
      margin: .2em;
    }
}

.error {
  border: 2px solid red;
}

.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: .8em;

}

.enter-page {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: flex-start;
    a {
      color: $white;
      text-decoration: none;
    }
}


.loggedinButton {
  border-radius: 0.4em;
  margin-top: 1em;
  width: 10em;
    a {
      color: $piroRed;
      text-decoration: none;
    }
}