#home-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: url('/images/home-background-image.png') no-repeat 100%;
  background-position: center center;
}

#welcome {
  color: $white;
}

#logo-wrapper {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#home-content {
  display: flex;
  flex-direction: column;
  flex: 5;
}

#input-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 4;
}

#login, #register, #welcome {
  display: flex;
  justify-content: center;
}

#login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $white;
    input {
      margin: .2em;
    }
}

#register-form {
  display: flex;
  flex: 2;
  flex-direction: column;
  align-items: center;
      color: $white;
    input {
      margin: .2em;
    }
}

.enter-page {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: flex-start;
    a {
      color: $white;
      text-decoration: none;
    }
}

.button {
  margin: 0.5em;
  border-radius: 0.4em;
  width: 10em;
}

.loggedinButton {
  border-radius: 0.4em;
  margin-top: 1em;
  width: 10em;
    a {
      color: $piroRed;
      text-decoration: none;
    }
}
