#previews-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.5em;
}

#preview-all-games {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  h2 {
    color: $piroRed;
    text-align: center;
    margin-bottom: 0;
  }
}

#preview {
  width: 90%;
  margin: 1em 0 0 0;
  display: flex;
  flex-direction: column;
  color: $black;
  text-decoration: none;
  box-shadow: 1px 1px 5px #999999;
}

.manage-follow-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: $headerGrey;
  border: 1px solid $backgroundGrey;
  #icon-manage.mdl-button {
      color: $staticGrey;
  }
  #icon-follow {
      color: $gold;
      text-shadow: -1px 1px 5px $darkGrey;
    }
  #icon-unfollow {
    color: $staticGrey;
  } 
}

.preview-header {
  display: flex;
  flex-direction: row;
  background-color: $lightGreen;
  border: 1px solid $backgroundGrey;
  color: $black;
  text-decoration: none;
  text-align: center;
    h3, h4 {
      margin: .5em 0;
    }
    .sport {
      flex: 1;
      text-transform: uppercase;
    }
    .location {
      flex: 1;
    }
      #icon-location {
        color: $staticGrey;
      }
}

.team-names {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 1px solid $backgroundGrey;
}

.score-wrapper {
  display: flex;
  flex-direction: row;
  border: 1px solid $backgroundGrey;
    h1 {
      font-size: 4em;
      font-weight: 700;
      margin: .1em 0;
      text-align: center;
    }
    .preview-score {
      flex: 6;
    }
    .period {
      font-size: 1.5em;
      align-self: center;
    }
  }

.comments {
  display: flex;
  justify-content: center;
  border: 1px solid $backgroundGrey;
  background: $inactiveGrey;
  font-style: italic;
    p {
      margin: .4em 0;
    }
}

#footer {
  align-items: center;
  bottom: 0;
  color: $staticGrey;
  display: flex;
  font-size: .8em;
  justify-content: center;
  padding: .1em 0;
  position: fixed;
  width: 100%;
  height: 2em;
  background-color: $white;
}

.team-logo {
  display: none;
}
